<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p>Ai nevoie de servicii electrice profesionale şi de încredere? Îți pot oferii o gama completa de lucrari precum:
          - montare banda led
          - montare corpuri iluminat normale si
          arhitecturale
          - montare si asamblare tablouri electrice - montare aparataj (intrerupatoare/prize) - identificare si remedierea defectelor din instalatii
          -instalaţie electrică completa in apartamente şi locuințe.</p>
      </div>
      <div class="col-lg-4">
        <p>To do</p>
      </div>
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <a href="https://github.com/jeromelachaud/freelancer-theme" class="btn btn-lg btn-outline">
          <i class="fa fa-download"></i> Download Theme
        </a>
      </div>
    </div>
  </div>
</section>
